<div class="dialog-overlay" *ngIf="open" (click)="onClose()">
    <div class="dialog-container" (click)="$event.stopPropagation()">
        <h2 class="dialog-title">Confirm Deletion</h2>
        <div class="dialog-content">
            <p class="dialog-content-text">{{ message }}</p>
        </div>
        <div class="dialog-actions">
            <button type="button" class="dialog-button" (click)="onClose()">Cancel</button>
            <button type="button" class="dialog-button" (click)="onConfirm()">Confirm</button>
        </div>
    </div>
</div>